.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.hugo_build.lock
package-lock.json
resources/
languages-old
wiki-old
polemics-wip
content/wiki
content/polemics-wip